<div ng-controller="CarouselCtrl">
	<nav class="navbar navbar-default navbar-fixed-bottom" id="carousel">
		<carousel interval="myInterval">
		    <slide ng-repeat="slide in slides" active="slide.active">
		      	<div class="col-md-2 col-sm-3 col-xs-4" ng-repeat="q in slide" style="padding:0px 15px;">
		      		<div class="img-wrap">
		      			<span class="close" ng-click="removeTrack(q.position)">X</span>
				       	<img ng-src="{{q.img}}" style="margin:0 auto;max-height:150px" class="img-responsive"/>
				        <div class="carousel-caption" ng-click="selectTrack(q.position)">
				        	<h1 style="color:white">{{q.position}}</h1>
				        </div>
			    	</div>
			    </div>   
		    </slide>

		    <slide ng-if="slides.length == 0" active="slide.active">
		      	<div class="row" style="padding:0px 30px; text-align:center;height:150px">
		      		<h1>Search for a song, to start add in questions!</h1>	
		      	</div>
		    </slide>	    
		</carousel>  
	</nav>
</div>

