<style>
/*.number:after{
  color:rgb(255,255,255);
  mix-blend-mode: screen;
}*/


/*.sortable-row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}*/
</style>

<div ng-controller="CarouselCtrl"></div>
<div ng-repeat="zone in scrollZones" ng-mouseover="slide(zone.speed)" ng-mouseout="stopSlide()" class="carousel-scrollLeft" ng-style="{'left':zone.margin, 'width':zone.width}"></div>
<div class="carousel-gradientLeft"><span class="glyphicon glyphicon-chevron-left" ng-if="overFlowLeft"></span></div>
<div ng-repeat="zone in scrollZones" ng-mouseover="slide(-zone.speed)" ng-mouseout="stopSlide()" class="carousel-scrollRight" ng-style="{'right':zone.margin, 'width':zone.width}"></div>
<div class="carousel-gradientRight"><span class="glyphicon glyphicon-chevron-right" ng-if="overFlowRight"></span></div>


<div class="carousel-questionRow" id="sortable-container">
  <h1 ng-if="questions.length == 0" class="carousel-noQuestions">Start creating your quiz by searching for a track!</h1>
  <div overview-carousel class="carousel-overview">
    <div class="sortable-row carousel-sortableRow" as-sortable="sortableOptions" ng-model="questions">
      <div as-sortable-item as-sortable-placeholder class="carousel-sortableItem" ng-repeat="q in questions" ng-init="$last ? evaluateOverflow() : console.log($last)">

        <div as-sortable-item-handle>
          <span class="close" ng-click="removeTrack(q.position)">X</span>
          <div ng-style="{'background-image':'url(' + q.img + ')'}" class="carousel-albumCover" ng-click="selectTrack(q.position)"></div>
          <h1 class="carousel-questionNumber" ng-click="selectTrack(q.position)">{{$index+1}}</h1>
        </div>
      </div>
      <div class="carousel-sortableItem"><h2 ng-if="questions.length > 1" class="carousel-tooltip">Drag & Drop to change the order!</h2></div>
    </div>
  </div>
</div>