<div ng-hide="createNewPopup" class="popup-outer" ng-click="closePopups()">
	<!-- Contains all the layout for the create new quiz pop-up. event.stopPropagation() hinders the div to close when the div is clicked. -->
	<div class="row col-xs-11 col-sm-10 col-md-8 popup-inner" onclick="event.stopPropagation()">
		<h2> Create a new Quiz</h2>
		<form class="form-inline">
			<div class="form-group">
				<input class="form-control" type="text" maxlength="16" ng-model="title" placeholder="Quiz name (16 chars)"/>
				<input class="form-control" type="text" maxlength="26" ng-model="creator" placeholder="Your name (26 chars)"/>
				<button class="btn btn-primary" ng-click="createQuiz(title, creator)">Create Quiz</button>
			</div>
		</form>
		<h2 ng-show="checkInput" style="color:red">Please fill in both fields!</h2>
	</div>
</div>