<div id="header">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
			  	<a class="navbar-brand" href="#">QuizOmatic</a>
			</div>
			<div>
			  	<ul class="nav navbar-nav">
				    <li class="active"><a href="#">Home</a></li>
				    <li><a href="#/search" class="">Search</a></li>
				    <li><a href="#/track/test" class="">Track</a></li>
				    <li><a href="#/quiz/test" class="">quiz</a></li>
			  	</ul>
			  	<ul class="nav navbar-nav navbar-right">
			        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		      	</ul>
			</div>
		</div>
	</nav>
	
	
	
</div>