<div ng-controller="headerCtrl"></div>
<div id="header">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			  	<a class="navbar-webName" href="#/start/">inQuizitor</a>
			  	<a class="navbar-brand navbar-center" ng-show="view != '#/start'">{{title}}</a>  	
			</div>
			<div class="collapse navbar-collapse" id="myNavBar">
			  	<ul class="nav navbar-nav">
				    <li ng-class="{'active': view == '#/start'}"><a href="#/start/">Home</a></li>
				    <li ng-class="{'active': view == '#/search'}"><a href="#/search/" ng-show="view != '#/start'">Search</a></li>
				    <li ng-class="{'active': view == '#/quiz'}"><a href="#/quiz" ng-show="view != '#/start'">Preview</a></li>
			  	</ul>
			  	<!-- <ul class="nav navbar-nav navbar-right">
			        <li><a href="#signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			        <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		      	</ul> -->
			</div>
		</div>
	</nav>
</div>