<div id="overView">
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="row text-center">
			<div class="col-md-12">
				<div class="carousel slide" id="OverViewSlider">
					<div class="carousel-inner">
						<div class="item active">
							<div class="col-md-3">
								<a href="#">
									<img src="https://i.scdn.co/image/98e86e43a13b15fcab4d2f1a6574eb431b3e3fc1" class="img-responsive"/>
								</a>
							</div>
						</div>
						<div class="item">
							<div class="col-md-3">
								<a href="#">
									1
									<img src="https://i.scdn.co/image/98e86e43a13b15fcab4d2f1a6574eb431b3e3fc1" class="img-responsive"/>
								</a>
							</div>
						</div>
						<div class="item">
							<div class="col-md-3">
								<a href="#">
									2
									<img src="https://i.scdn.co/image/98e86e43a13b15fcab4d2f1a6574eb431b3e3fc1" class="img-responsive"/>
								</a>
							</div>
						</div>
						<div class="item">
							<div class="col-md-3">
								<a href="#">
									3
									<img src="https://i.scdn.co/image/98e86e43a13b15fcab4d2f1a6574eb431b3e3fc1" class="img-responsive"/>
								</a>
							</div>
						</div>
						<div class="item">
							<div class="col-md-3">
								<a href="#">
									4
									<img src="https://i.scdn.co/image/98e86e43a13b15fcab4d2f1a6574eb431b3e3fc1" class="img-responsive"/>
								</a>
							</div>
						</div>
						<div class="item">
							<div class="col-md-3">
								<a href="#">
									5
									<img src="https://i.scdn.co/image/98e86e43a13b15fcab4d2f1a6574eb431b3e3fc1" class="img-responsive"/>
								</a>
							</div>
						</div>
					</div>
					<a class="left carousel-control" href="#start" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
					<a class="right carousel-control" href="#start" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
				</div>
			</div>
		</div>
	</nav>
</div>