<div id="quizScore">
	<ng-include src="'partials/header.html'" ></ng-include>

	<div class="row score-praise">
		<h1 class="text-center">{{praise()}}</h1> <!-- Användarnamn -->
	</div>

	<div class="row text-center"><h3>You got {{getPoints()}} points</h3></div>

	<div class="row score-buttonDiv">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<button class="score-btn btn btn-primary col-lg-3 col-md-4 col-sm-5 col-xs-10 pull-right">Share this quiz</button>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<button class="score-btn btn btn-primary col-lg-3 col-md-4 col-sm-5 col-xs-10">Create your own!</button>
		</div>
	</div>

	<div>
		<table class="table score-table">
			<thead>
				<tr>
					<th class="col-lg-1 col-md-1"></th>
					<th class="col-lg-4 col-md-4"><h4>Question</h4></th>
					<th class="col-lg-2 col-md-2"><h4>Answer</h4></th>
					<th class="col-lg-4 col-md-4"><h4>Track</h4></th>
					<th class="col-lg-1 col-md-1"><h4>Listen</h4></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="q in getQuestions()">
					<td class="col-lg-1 col-md-1 text-center"><h1>{{q.position}}.</h1></td>
					<td class="col-lg-4 col-md-4">{{q.question}}</td>
					<td class="col-lg-2 col-md-2"><b>Correct Answer: </b>{{q.answers['a']}}<br/><b>You answered: </b>{{userAnswers[q.position-1]}}
						</td>
					<td class="col-lg-4 col-md-4">
							<h3>{{songList[q.position-1].name}}</h3>
							<h4>{{songList[q.position-1].artists[0].name}}</h4>
							<h5>{{songList[q.position-1].album.name}}</h5>
					</td>
					<td class="col-lg-1 col-md-1">
						<div ng-style="{'background-image':'url(' + songList[q.position-1].album.images[2].url + ')', 'height':'64px', 'width':'64px'}" ng-mouseover="playIt(songList[q.position-1].preview_url,songList[q.position-1].id)" ng-mouseout="stopIt()">
						<img ng-src="img/play_button.png" ng-mouseover="playIt(songList[q.position-1].preview_url,songList[q.position-1].id)" ng-mouseout="stopIt()" style="height:64xpx;width:64px" ng-if="playing != songList[q.position-1].id"/>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<audio id="preview" type="audio/mpeg"/>
	</div>

</div>