<div id="quiz">
	<ng-include src="'partials/header.html'" ng-controller ="headerCtrl" ></ng-include>

	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
			<span id="currentProgress">70</span	><!--Make it count down-->
		</div>
	</div>

	<div class="row" style="margin-top:20px;background:rgba(150,150,150,0.5);padding:5px 0 50px 0;">

		<audio id="quizAudio" autoplay ng-src="{{track.preview_url}}" type="audio/mpeg"/>

		<div class="row row-centered">
			<div class="col-lg-3 col-md-2 col-sm-3 col-xs-3"></div>
			<div class="col-lg-6 col-md-8 col-sm-6 col-xs-6">
				<h1 style="color:white">{{Quiz.title}}</h1>
			</div>
			<div class="col-lg-3 col-md-2 col-sm-3 col-xs-3">
				<h2 style="color:white">{{getPoints()}} Points</h2>
			</div>
		</div>

		<div class="row" style="text-align:center">
			<h3 style="color:white">{{Quiz.questions[currentQPos].question}}</h3>
			<div class="row row-centered" ng-repeat="answer in shuffledArray" style="padding:8px 0 8px 0">
				<button class="btnQuestion col-centered btn btn-primary col-lg-4 col-md-4 col-sm-6 col-xs-8 " type="button" ng-click="checkAnswer(answer)" ng-class="{'btn-success':shuffledArray[$index] == correctAnswer, 'btn-warning':falseAnswers.indexOf(shuffledArray[$index]) > -1}">{{answer}}</button>
			</div>

		</div>

		<div class="row row-centered" style="text-align:center" >
			<button ng-show="Quiz.questions.length != currentQPos+1 && qAnswered" class="btn btn-primary col-lg-3 col-md-3 col-sm-4 col-xs-4 col-centered" ng-click="moveOn()">Next question!</button>
			<button ng-show="Quiz.questions.length == currentQPos+1 && qAnswered" class="btn btn-success col-lg-3 col-md-3 col-sm-4 col-xs-4 col-centered" ng-click="moveOn()">To Result!</button>
		</div>

		<div class="row" style="text-align:center">
			<h2 class="col-md-3 col-md-offset-9" style="color:white">by {{Quiz.creator}}</h2>
		</div>

		<script>
			var song = $('#quizAudio')
			setTimeout(function() {song.animate({volume: 0}, 2000)},28000);
		</script>

	</div>
</div>