<div id="quiz">
	<ng-include src="'partials/header.html'" ></ng-include>
	<ng-include src="'partials/start.html'" ></ng-include>
	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="70"
		aria-valuemin="0" aria-valuemax="100" style="width:70%">
			<span id="currentProgress">70</span><!--Make it count down-->
		</div>
	</div>
	<div class="row">
		<h1>Quiznamn</h1>
		<h2>by Namn</h2>
		<h2 style="display:inline">Total</h2>
	</div>
	<div class="row">
		<h3>Frågan är bla bla bla</h3>
		<div class="row">
			<button class="col-md-2" type="button">Svar1</button> <!-- ng-repeat="for answer in answers", lär lägga till i stylesheet med padding på quizknapparna också -->
			<button class="col-md-2" type="button" >Svar2</button>
		</div>
		<div class="row">
			<button class="col-md-2" type="button">Svar3</button>
			<button class="col-md-2" type="button">Svar4</button>
		</div>
	</div>
	<div class="row">
		<button type="button">Next question</button>
	</div>
</div>