<ng-include src="'partials/header.html'" ng-controller ="headerCtrl"></ng-include>
<ng-include src="'partials/carousel.html'" ng-controller="CarouselCtrl"></ng-include>
<div ng-class="{Cprogress: waitingForInput}" class="dodgeCarousel">

	<!-- Contains the search box -->
	<div class="row search-searchDiv">
		<form id="search" ng-class="{'search-animateSlideUp':firstSearch}">
		  	<div>
			    <input type="text" id="search-trackField" search-field ng-model="query" placeholder="Search" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search'">
			    <button class="search-searchBtn" type="submit" ng-click="newSearch(query)">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
		  	</div>
		</form>
	</div><!-- .row -->

	<!-- Contains the results from search in a table. -->
	<div class="row">
		<audio preview-audio type="audio/mpeg"/>
		<table class="table table-hover search-table content-bg">
			<thead>
				<tr ng-if="results.length > 0">
					<th class="col-lg-2"><h3>Listen</h3></th>
					<th class="col-lg-3"><a href ng-click="sort(['name'])"><h3>Track <span class="glyphicon glyphicon-chevron-down" ng-if="sorted == 'name'"></span><span class="glyphicon glyphicon-chevron-up" ng-if="sorted == 'nameR'"></span></h3></a></th>
					<th class="col-lg-2"><a href ng-click="sort(['artists','0','name'])"><h3>Artist <span class="glyphicon glyphicon-chevron-down" ng-if="sorted == 'artists'"></span><span class="glyphicon glyphicon-chevron-up" ng-if="sorted == 'artistsR'"></span></h3></a></th>
					<th class="col-lg-3"><a href ng-click="sort(['album','name'])"><h3>Album <span class="glyphicon glyphicon-chevron-down" ng-if="sorted == 'album'"></span><span class="glyphicon glyphicon-chevron-up" ng-if="sorted == 'albumR'"></span></h3></a></th>
					<th class="col-lg-2"></th>
				</tr>
			</thead>
			<tbody>
				<!-- Loops through every track in result and builds a row for each. -->
				<tr ng-repeat="track in results" ng-click="" id="{{track.id}}">
					<td class="col-lg-2">
						<div ng-style="{'background-image':'url(' + track.album.images[2].url + ')', 'height':'64px', 'width':'64px', 'margin':'auto','background-size':'64px 64px','background-repeat':'no-repeat'}" ng-mouseover="playIt(track.preview_url,track.id)" ng-mouseout="stopIt()">
						<img ng-src="img/play_button.png" ng-mouseover="playIt(track.preview_url,traCK.id)" ng-mouseout="stopIt()" ng-if="playing != track.id"/>
						</div>
					</td>
					<td class="col-lg-3"><h4><a href ng-click="newSearch(track.name)">{{track.name}}</a></h4></td>
					<td class="col-lg-2"><h4><a href ng-click="newSearch(track.artists[0].name, 'artist')">{{track.artists[0].name}}</a></h4></td>
					<td class="col-lg-3"><h4><a href ng-click="newSearch(track.album.name, 'album')">{{track.album.name}}</a></h4></td>
					<td class="col-lg-2"><h4><a href="#/track/{{track.id}}" class="btn btn-primary">Add question</a></h4></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5" ng-if="status != ''">{{status}}</td>
				</tr>
			</tfoot>
		</table>
	</div><!-- .row -->
</div>