<div id="start">
	<ng-include src="'partials/header.html'" ng-controller ="headerCtrl" ></ng-include>
	<ng-include src="'partials/carousel.html'" ng-controller="CarouselCtrl"></ng-include>

	<div class="row" style="margin-top:100px">
		<button class="btn btn-primary" ng-click="clicked()">Create New Quiz</button>
	</div>
	<div class="row" ng-show="isClicked" syle="position: fixed; top=25%; left:5%">
		<input type="text" ng-model="title" placeholder="Name your Quiz"/>
		<input type="text" ng-model="creator" placeholder="Your name"/>
		<button class="btn btn-primary" ng-click="createQuiz(title, creator)">Create Quiz</button>
	</div>

	<div ng-repeat="quiz in quizzes">
		<button ng-click="assignQuiz(quiz)"> {{quiz.title}} </button>
	</div>

	
</div>