<div id="start">
	<ng-include src="'partials/header.html'" ng-controller ="headerCtrl" ></ng-include>
<!-- 	<ng-include src="'partials/carousel.html'" ng-controller="CarouselCtrl"></ng-include> -->
	<h1 style="color:black; text-align:center;margin-top:100px">Welcome to InQuizitor!</h1>
	<h2 style="color:black; text-align:center">Make your own music quiz or play an awesome quiz below!</h2>
	<div class="row" style="margin-bottom:50px; text-align:center">
		<button class="btn btn-primary" style="height:80px;padding:0 60px 0 60px;font-size:20px" ng-click="clicked()">Create New Quiz</button>
		<div class="row col-md-12" ng-show="isClicked" style="text-align:center;margin-top:20px">
			<form class="form-inline">
				<div class="form-group">
					<input class="form-control" type="text" maxlength="16" ng-model="title" placeholder="Quiz name (16 chars)"/>
					<input class="form-control" type="text" maxlength="26" ng-model="creator" placeholder="Your name (26 chars)"/>
					<button class="btn btn-primary" ng-click="createQuiz(title, creator)">Create Quiz</button>
				</div>
			</form>
		</div><!-- .row -->
	</div><!-- .row -->

	<div class="row" style="margin:0px 0px 0px 0px;background:rgba(255,255,255,0.6);">
		<div ng-repeat="quiz in quizzes" class="col-md-3" style="margin-bottom:40px;">

			<div style="text-align:center;">
				<h3 class="text-center" style="color:#000000;margin-bottom:-2px">{{quiz.title}}</h3>
				<p class="text-center" style="color:#000000;font-size:10px;margin-bottom:3px">made by  <span style="font-size:14px">{{quiz.creator}}</span></p>
			</div>

			<div style="height:200px">
				<img class="center-block" style="max-height:200px;z-index:0;margin:auto" src="{{quizImgs[$index]}}"/>
				<div class="center-block" style="height:70px; width:200px;background:rgba(0,0,0,0.7);z-index:1000;position:relative;bottom:70px">
					<div ng-click="goToQuiz(quiz.quizId)" style="text-align:center;display:inline;height:70px"><span id="home-playQuiz" style="color:white;font-size:30px;cursor:pointer;height:70px;width:50%;padding-top:15px;border-right:1px solid #FFF;" class="glyphicon glyphicon-play"></span></div><div ng-click="assignQuiz(quiz.quizId)" style="text-align:center;display:inline"><span id="home-playQuiz" style="color:white;font-size:30px;cursor:pointer;height:70px;width:50%;padding-top:15px" class="glyphicon glyphicon-edit"></span>
					</div>
				</div>
			</div>

			<div class="row text-center">
				<button class="btn" style="width:200px">Share it!</button>
			</div>
		</div><!-- ng-repeat -->
	</div><!-- .row -->
</div>