<div id="start">
	<ng-include src="'partials/header.html'" ng-controller ="headerCtrl" ></ng-include>
<!-- 	<ng-include src="'partials/carousel.html'" ng-controller="CarouselCtrl"></ng-include> -->
	<div class="row" style="margin-top:100px">
		<button class="btn btn-primary" ng-click="clicked()">Create New Quiz</button>
	</div>
	<div class="row" ng-show="isClicked">
		<input type="text" ng-model="title" placeholder="Name your Quiz"/>
		<input type="text" ng-model="creator" placeholder="Your name"/>
		<button class="btn btn-primary" ng-click="createQuiz(title, creator)">Create Quiz</button>
	</div>

	<div class = "row">
		<div ng-repeat="quiz in quizzes" class="col-md-3" style="background:rgba(0,0,0,0.2)">
			<h1 class="text-center" style="color:rgba(31,232,2,1">{{quiz.title}}</h1>
			<img class="center-block" style="max-height:200px" src="{{quiz.questions[0].img}}"/>
			<h2 class="text-center" style="color:rgba(31,232,2,1">by {{quiz.creator}}</h2>
			<div style="margin-top:10px" class="row text-center">
				<button class="btn btn-primary" ng-click="goToQuiz(quiz.quizId)"> {{quiz.title}} </button>
				<button class="btn btn-confirm" ng-click="assignQuiz(quiz.quizId)"> edit </button>
			</div>
			<h1 style="color:rgba(31,232,2,1">{{quiz.questions.length}}</h1>
		</div>
	</div>
</div>