<div id="track">
	<ng-include src="'partials/header.html'" ></ng-include>
	<ng-include src="'partials/start.html'" ></ng-include>
	<a href="#search"><i class="glyphicon glyphicon-chevron-left"></i></a>
	<h1 style="display:inline;">{{testrack.name}}</h1>
	<h2>by Namn</h2>
	<div class="row row-centered">
		<input id ="questionInput" class="col-md-8 col-centered" type="text" placeholder="Frågan är bla bla bla"/>
		<div class="row">
			<input id ="answerAInput" class="col-md-5 col-centered" type="text" placeholder="alternativ 1"/>
			<input id ="answerBInput" class="col-md-5 col-centered" type="text" placeholder="alternativ 2"/>
		</div>
		<div class="row row-centered">
			<input id ="answerCInput" class="col-md-5 col-centered" type="text" placeholder="alternativ 3"/>
			<input id ="answerDInput" class="col-md-5 col-centered" type="text" placeholder="alternativ 4"/>
		</div>
	</div>
	<div class="row">
		<button type="button">Next question</button>
	</div>

</div>
