html, body{
  height: 100%;
}

html { overflow-y: scroll; }

h1, h2, h3 {
  color: #2A2B40;
}

.alert{
  z-index:1;
}

.as-sortable-item, .as-sortable-placeholder {
  display: inline-block;
  float:none;
  width: 124px;
  height: 110px;
}

.as-sortable-placeholder:not(.as-sortable-item){
  border: dashed;
  border-color: #999;
  border-width: 5px;
  float:none;
  display:inline-block;
  margin-left: 50px
}

.background{
  background: url('img/mouse.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.col-centered {
    display:inline-block;
    float:none;
}

.container {
  height: 100%;
  padding:0px 25px;
}

.Cpointer *{
  cursor: pointer;
}

.Cprogress *{
  cursor: progress;
}

#sortable-container{
    display: inline-block;
    float:none;
    /*padding-left:100px;*/
}

.row-centered {
    text-align:center;
}

.carousel-albumCover{
	background-size: 150px 150px;
	margin: 0 auto;
	height: 150px;
	width: 150px;
	text-align: center;
}

.carousel-gradientLeft{
  background: -webkit-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0)); /* Standard syntax */
  position:fixed;
  bottom:0;
  left:0;
  height:150px;
  width:12%;
  z-index:5;
}

.carousel-gradientRight{
  background: -webkit-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0)); /* Standard syntax */
  position:fixed;
  bottom:0;
  right:0;
  height:150px;
  width:12%;
  z-index:5;
}

.carousel-noQuestions{
	text-align: center;
	font-size: 3vw;
	color: rgb(70,70,70);
	margin-top: 0;
	width: 100%;
}

.carousel-overview{
	overflow-x: visible;
	white-space: nowrap;
}

.carousel-sortableItem{
	vertical-align: top;
	float: none;
	display: inline-block;
	width: 170px;
	height: 150px;
	margin-left: 50px
}

.carousel-sortableRow{
	overflow-x: visible;
	white-space: nowrap;
}

.carousel-scrollLeft{
	position: fixed;
	bottom: 0;
	height: 160px;
	z-index: 10;
}

.carousel-scrollRight{
	position: fixed;
	bottom: 0;
	height: 160px;
	z-index: 10;
}

.carousel-questionNumber{
  background:rgba(0,0,0,0.3);
  height:150px;
  width:150px;
  padding-left: 0;
  font-size: 130px;
  line-height: 150px;
  font-weight: bold;
  margin-top:-150px;
  margin-left:10px;
  text-align: center;
  color:rgba(255,255,255,0.6);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(150,150,150);
  /*mix-blend-mode: difference;*/
}

.carousel-questionNumber:hover{
  background:rgba(0,0,0,0);
  color:rgba(180,0,0,0);
  -webkit-text-stroke-width: 0;
}

.carousel-questionRow{
	bottom: 0;
	left: 0;
	background: #FFFFFF;
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 150px;
}

.score-buttonDiv{
	padding:15px 0px 30px 0px
}

.score-btn{
  height: 50px;
  border-radius: 10px;
  border: none;
}

.score-praise > h1{
	margin-top:150px
}

.score-table >tbody>tr>td{
  vertical-align:middle;
}

.score-table >thead>tr>th{
  vertical-align:middle;
}

.search-searchBtn{
  background-color:#CCCCCC;
  border-bottom-right-radius:25px;
  border-top-right-radius:25px;
  border-bottom-left-radius:0;
  border-top-left-radius:0;
  border:none;
  height: 50px;
  width: 40px;
  margin-left: -3px;
  font-size: 18px;
  vertical-align: middle;
}:focus{
  border:none;
  outline:none;
}

.search-searchBtn:hover{
  background-color:#555555;
  color:#CCCCCC;
}

.search-searchDiv > form{
	margin-top: 300px;
	text-align: center;
	margin-bottom: 50px;
}

.search-table{
	margin-bottom: 100px;
}

.search-table >tbody>tr>td{
  vertical-align: middle;
  text-align: center;
}

.search-table >thead>tr>th{
  vertical-align: middle;
  text-align: center;
}

.search-table img{
	height: 64px;
	width: 64px;
}

.search-trackField{
  border-bottom-left-radius:25px;
  border-top-left-radius:25px;
  border:none;
  height: 50px;
  margin-right:0;
  width:50%;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
}:focus{
  border:none;
  outline:none;
}

.table {
  background: rgba(150,150,150,0.5);
  overflow: auto;
}

.table h4{
  margin-top:20px;
}

.track-albumCover{
	margin-top: 10px;
	width: 300px;
	height: 300px;
}

.track-audio{
	height:50px;
}

.track-background{
	margin-top: 60px;
	background: rgba(150,150,150,0.5);
	padding: 20px;
}

.track-biography{
  width:100%;
  height:280px;
  max-height:320px;
  border-radius: 15px;
  border: none;
  outline:none;
  padding:10px;
  overflow:auto;
  background: #FFFFFF;
}

.track-bioProvider{
  font-size: 10px;
  color: #DDDDDD;
}

.track-confirmBtn{
  color: white;
  background:green;
  border-radius: 10px;
  margin-top:15px;
  border: none;
  outline:none;
}

.track-header * {
	display: inline;
}

.track-inputAnswer {
  width:45%;
  border-radius:15px;
  margin-top:10px;
  text-align:center;
  border: none;
  outline:none;
}

.track-inputQuestion{
  width:100%;
  height:174px;
  border-radius: 15px;
  border: none;
  outline:none;
  padding:10px;
}

.quiz-animatePoints {
    -webkit-animation : pulse 1s 1;
    -moz-animation    : pulse 1s 1;
    -o-animation      : pulse 1s 1;
    animation         : pulse 1s 1;
}

@-webkit-keyframes pulse {
   0%   { -webkit-transform: scale(1)   ; opacity: 1;    }
   50%  { -webkit-transform: scale(1.2); opacity: 1; }
   100% { -webkit-transform: scale(1)   ; opacity: 1;    }
}
@-moz-keyframes pulse {
   0%   { -webkit-transform: scale(1)   ; opacity: 1;    }
   50%  { -webkit-transform: scale(1.2); opacity: 1; }
   100% { -webkit-transform: scale(1)   ; opacity: 1;    }
}
@-o-keyframes pulse {
   0%   { -webkit-transform: scale(1)   ; opacity: 1;    }
   50%  { -webkit-transform: scale(1.2); opacity: 1; }
   100% { -webkit-transform: scale(1)   ; opacity: 1;    }
}
@keyframes pulse {
   0%   { -webkit-transform: scale(1)   ; opacity: 1;    }
   50%  { -webkit-transform: scale(1.2); opacity: 1; }
   100% { -webkit-transform: scale(1)   ; opacity: 1;    }
}

.quiz-answers{
	margin-top: 10px
}

.quiz-background{
	margin-top: 50px;
	background: rgba(150,150,150,0.5);
	padding: 5px 0px 0px 0px;
	height: 605px
}

.quiz-creator{
	font-size:15px
}

.quiz-currentPointsDiv{
	text-align: center
}

.quiz-currentPoints > h1{
	color: white;
	font-size: 100px;
}

.quiz-indicatorRow{
	height:30px
}

.quiz-title{
	color:white
}

.quiz-totalPoints{
	color:white
}

/* Step indicators. They have to be in this order to work. */
.quiz-otherStep{
  background-color: rgba(255,255,255,0.5);
  width:8px;
  height:7px;
  display:inline-block;
  margin:0 10px 0 10px;
  -webkit-transition: height 1s ease-out;
  transition: height 1s ease-out;
}

.quiz-closeStep{
  background-color: rgba(255,255,255,0.5);
  width:8px;
  height:16px;
  display:inline-block;
  margin:0 10px 0 10px;
  -webkit-transition: height 1s ease-out;
  transition: height 1s ease-out;
}

.quiz-currentStep{
  background-color: rgba(255,255,255,1);
  width:8px;
  height:30px;
  display:inline-block;
  margin:0 10px 0 10px;
}

.quiz-question > h3{
	color: white;
	display: block;
	white-space: pre-wrap;
	word-wrap: break-word;
	text-align: center;
}

.quiz-questionBtn{
  height:100px;
  max-width:202px;
  border-radius: 10px;
  word-wrap:break-word;
  white-space:normal !important;
}

.quiz-questionRow{
	height:240px;
}

/* Changes font-size of question at different page widths*/
@media all and (max-width: 1200px) {
  .quiz-question > h3{
    font-size: 20px;
  }
}
@media all and (max-width: 992px) {
  .quiz-question > h3{
    font-size: 18px;
  }
}
@media all and (max-width: 768px) {
  .quiz-question > h3{
    font-size: 15px;
  }
}