
.container {
  height: 100%;
  padding:0px 25px;
}
.jumbotron {
  background-color: rgba(100,100,100);
  border-style: solid;
  border-width: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
}
.btn{
  background-color: rgb(242, 171, 71);
  /*border: 3px solid;*/
}
.background{
  background: url('img/mouse.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.answerback  {
  background-color: rgb(120, 20, 71);
}
.answers {
  background-color: rgb(67, 171, 34);
  margin: 20px;
  padding: 20px;
}
.courseThumb{
  border: 3px solid;
  background-size:100% 100%;
  position:relative; 
  padding-top: 70%; 
  padding-left: 0px; 
  padding-right: 0px;
}
.table {
  background: rgba(150,150,150,0.5);
  overflow: auto;
}

.table h4{
  margin-top:20px;
}

html, body, .container{
  height: 100%;
}

html { overflow-y: scroll; }

h1, h2, h3 {
  color: #2A2B40;
}

.Cpointer *{
  cursor: pointer;
}

.Cprogress *{
  cursor: progress;
}

.carousel-control {
  font-size:100px;
  width:5%;
  padding-top: 50px;
}

.track-search-field{
  border-bottom-left-radius:25px;
  border-top-left-radius:25px;
  border:none;
  height: 50px;
  margin-right:0;
  width:50%;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
}:focus{
  border:none;
  outline:none;

}

.track-search-btn{
  background-color:#CCCCCC;
  border-bottom-right-radius:25px;
  border-top-right-radius:25px;
  border-bottom-left-radius:0;
  border-top-left-radius:0;
  border:none;
  height: 50px;
  width: 40px;
  margin-left: -3px;
  font-size: 18px;
  vertical-align: middle;
}:focus{
  border:none;
  outline:none;
}

.track-search-btn:hover{
  background-color:#555555;
  color:#CCCCCC;
<<<<<<< HEAD
}

.inputAnswer {
  width:45%;
  border-radius:15px;
  margin-top:10px;
  text-align:center;
  border: none;
  outline:none;
}

.inputQuestion{
  width:100%;
  height:140px;
  border-radius: 15px;
  border: none;
  outline:none;
  padding:10px;
}

.btnConfirm{
  color: white;
  background:green;
  border-radius: 10px;
  margin-top:10px;
  border: none;
  outline:none;
}
=======
};
.img-wrap {
    position: relative;
    display: inline-block;
    font-size: 0;
}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px;
    color: grey;
    font-weight: bold;
    cursor: pointer;
    opacity: .8;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    width:16px;
    border-radius: 100%;
}
.img-wrap:hover .close {
    opacity: 1;
}
>>>>>>> 53d39e6f9c47c0c0d79928bd9bb95b0f7674d209
